Импорт нужных библиотек

In [727]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder,PowerTransformer

In [728]:
pd.set_option("display.max_columns", None)

In [729]:
df = pd.read_csv('train.csv')

In [730]:
# df = pd.read_csv('test.csv')

In [731]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20758 entries, 0 to 20757
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              20758 non-null  int64
 1   Gender                          20758 non-null  object
 2   Age                             20758 non-null  float64
 3   Height                          20758 non-null  float64
 4   Weight                          20758 non-null  float64
 5   family_history_with_overweight  20758 non-null  object
 6   FAVC                            20758 non-null  object
 7   FCVC                            20758 non-null  float64
 8   NCP                             20758 non-null  float64
 9   CAEC                            20758 non-null  object
 10  SMOKE                           20758 non-null  object
 11  CH2O                            20758 non-null  float64
 12  SCC                             20758 non-null  object
 13  FAF                             20758 non-null  float64
 14  TUE                             20758 non-null  float64
 15  CALC                            20758 non-null  object
 16  MTRANS                          20758 non-null  object
 17  NObeyesdad                      20758 non-null  object
dtypes: float64(8), int64(1), object(9)
memory usage: 2.9+ MB

In [732]:
df.head()

,id,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,0,Male,24.443011,1.699998,81.669950,yes,yes,2.000000,2.983297,Sometimes,no,2.763573,no,0.000000,0.976473,Sometimes,Public_Transportation,Overweight_Level_II
1,1,Female,18.000000,1.560000,57.000000,yes,yes,2.000000,3.000000,Frequently,no,2.000000,no,1.000000,1.000000,no,Automobile,Normal_Weight
2,2,Female,18.000000,1.711460,50.165754,yes,yes,1.880534,1.411685,Sometimes,no,1.910378,no,0.866045,1.673584,no,Public_Transportation,Insufficient_Weight
3,3,Female,20.952737,1.710730,131.274851,yes,yes,3.000000,3.000000,Sometimes,no,1.674061,no,1.467863,0.780199,Sometimes,Public_Transportation,Obesity_Type_III
4,4,Male,31.641081,1.914186,93.798055,yes,yes,2.679664,1.971472,Sometimes,no,1.979848,no,1.967973,0.931721,Sometimes,Public_Transportation,Overweight_Level_II

In [733]:
# Расшифровки:
# FAVC - ""
# FCVC - ""
# NCP - "Nutrition Care Process" 
# CAEC - ""
# CH2O - ""
# SCC - ""
# FAF - ""
# TUE - ""
# CALC - ""

In [734]:
df = df.rename({'family_history_with_overweight':'FamilyOverweightHistory'},axis='columns')

In [735]:
df.describe(include='all')

,id,Gender,Age,Height,Weight,FamilyOverweightHistory,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
count,20758.00000,20758,20758.000000,20758.000000,20758.000000,20758,20758,20758.000000,20758.000000,20758,20758,20758.000000,20758,20758.000000,20758.000000,20758,20758,20758
unique,NaN,2,NaN,NaN,NaN,2,2,NaN,NaN,4,2,NaN,2,NaN,NaN,3,5,7
top,NaN,Female,NaN,NaN,NaN,yes,yes,NaN,NaN,Sometimes,no,NaN,no,NaN,NaN,Sometimes,Public_Transportation,Obesity_Type_III
freq,NaN,10422,NaN,NaN,NaN,17014,18982,NaN,NaN,17529,20513,NaN,20071,NaN,NaN,15066,16687,4046
mean,10378.50000,NaN,23.841804,1.700245,87.887768,NaN,NaN,2.445908,2.761332,NaN,NaN,2.029418,NaN,0.981747,0.616756,NaN,NaN,NaN
std,5992.46278,NaN,5.688072,0.087312,26.379443,NaN,NaN,0.533218,0.705375,NaN,NaN,0.608467,NaN,0.838302,0.602113,NaN,NaN,NaN
min,0.00000,NaN,14.000000,1.450000,39.000000,NaN,NaN,1.000000,1.000000,NaN,NaN,1.000000,NaN,0.000000,0.000000,NaN,NaN,NaN
25%,5189.25000,NaN,20.000000,1.631856,66.000000,NaN,NaN,2.000000,3.000000,NaN,NaN,1.792022,NaN,0.008013,0.000000,NaN,NaN,NaN
50%,10378.50000,NaN,22.815416,1.700000,84.064875,NaN,NaN,2.393837,3.000000,NaN,NaN,2.000000,NaN,1.000000,0.573887,NaN,NaN,NaN
75%,15567.75000,NaN,26.000000,1.762887,111.600553,NaN,NaN,3.000000,3.000000,NaN,NaN,2.549617,NaN,1.587406,1.000000,NaN,NaN,NaN
max,20757.00000,NaN,61.000000,1.975663,165.057269,NaN,NaN,3.000000,4.000000,NaN,NaN,3.000000,NaN,3.000000,2.000000,NaN,NaN,NaN

In [736]:
df.isnull().sum().sort_values(ascending=False)

id                         0
Gender                     0
Age                        0
Height                     0
Weight                     0
FamilyOverweightHistory    0
FAVC                       0
FCVC                       0
NCP                        0
CAEC                       0
SMOKE                      0
CH2O                       0
SCC                        0
FAF                        0
TUE                        0
CALC                       0
MTRANS                     0
NObeyesdad                 0
dtype: int64

In [737]:
df.duplicated().sum()

np.int64(0)

In [738]:
# Кодируем значения 
lab_encoder = LabelEncoder()
df["Gender"] = lab_encoder.fit_transform(df["Gender"])

# Выведем соответствие исходных значений и их кодированных меток 
print("Соответствие исходных значений и кодов Gender:")
label_mapping = dict(zip(lab_encoder.classes_, lab_encoder.transform(lab_encoder.classes_)))
print(label_mapping)

Соответствие исходных значений и кодов Gender:
{'Female': np.int64(0), 'Male': np.int64(1)}

In [739]:
# Кодируем значения
lab_encoder = LabelEncoder()
df["FamilyOverweightHistory"] = lab_encoder.fit_transform(df["FamilyOverweightHistory"])

# Выведем соответствие исходных значений и их кодированных меток
print("Соответствие исходных значений и кодов FamilyOverweightHistory:")
label_mapping = dict(zip(lab_encoder.classes_, lab_encoder.transform(lab_encoder.classes_)))
print(label_mapping)

Соответствие исходных значений и кодов FamilyOverweightHistory:
{'no': np.int64(0), 'yes': np.int64(1)}

In [740]:
# Кодируем значения 
lab_encoder = LabelEncoder()
df["FAVC"] = lab_encoder.fit_transform(df["FAVC"])

# Выведем соответствие исходных значений и их кодированных меток 
print("Соответствие исходных значений и кодов FAVC:")
label_mapping = dict(zip(lab_encoder.classes_, lab_encoder.transform(lab_encoder.classes_)))
print(label_mapping)

Соответствие исходных значений и кодов FAVC:
{'no': np.int64(0), 'yes': np.int64(1)}

In [741]:
# Кодируем значения
lab_encoder = LabelEncoder()
df["CAEC"] = lab_encoder.fit_transform(df["CAEC"])

# Выведем соответствие исходных значений и их кодированных меток
print("Соответствие исходных значений и кодов CAEC:")
label_mapping = dict(zip(lab_encoder.classes_, lab_encoder.transform(lab_encoder.classes_)))
print(label_mapping)

Соответствие исходных значений и кодов CAEC:
{'Always': np.int64(0), 'Frequently': np.int64(1), 'Sometimes': np.int64(2), 'no': np.int64(3)}

In [742]:
# Кодируем значения
lab_encoder = LabelEncoder()
df["SMOKE"] = lab_encoder.fit_transform(df["SMOKE"])

# Выведем соответствие исходных значений и их кодированных меток
print("Соответствие исходных значений и кодов SMOKE:")
label_mapping = dict(zip(lab_encoder.classes_, lab_encoder.transform(lab_encoder.classes_)))
print(label_mapping)

Соответствие исходных значений и кодов SMOKE:
{'no': np.int64(0), 'yes': np.int64(1)}

In [743]:
# Кодируем значения
lab_encoder = LabelEncoder()
df["SCC"] = lab_encoder.fit_transform(df["SCC"])

# Выведем соответствие исходных значений и их кодированных меток
print("Соответствие исходных значений и кодов SCC:")
label_mapping = dict(zip(lab_encoder.classes_, lab_encoder.transform(lab_encoder.classes_)))
print(label_mapping)

Соответствие исходных значений и кодов SCC:
{'no': np.int64(0), 'yes': np.int64(1)}

In [744]:
# Кодируем значения
lab_encoder = LabelEncoder()
df["CALC"] = lab_encoder.fit_transform(df["CALC"])

# Выведем соответствие исходных значений и их кодированных меток
print("Соответствие исходных значений и кодов CALC:")
label_mapping = dict(zip(lab_encoder.classes_, lab_encoder.transform(lab_encoder.classes_)))
print(label_mapping)

Соответствие исходных значений и кодов CALC:
{'Frequently': np.int64(0), 'Sometimes': np.int64(1), 'no': np.int64(2)}

In [745]:
# Кодируем значения
lab_encoder = LabelEncoder()
df["MTRANS"] = lab_encoder.fit_transform(df["MTRANS"])

# Выведем соответствие исходных значений и их кодированных меток
print("Соответствие исходных значений и кодов MTRANS:")
label_mapping = dict(zip(lab_encoder.classes_, lab_encoder.transform(lab_encoder.classes_)))
print(label_mapping)

Соответствие исходных значений и кодов MTRANS:
{'Automobile': np.int64(0), 'Bike': np.int64(1), 'Motorbike': np.int64(2), 'Public_Transportation': np.int64(3), 'Walking': np.int64(4)}

In [746]:
# Кодируем значения
lab_encoder = LabelEncoder()
df["NObeyesdad"] = lab_encoder.fit_transform(df["NObeyesdad"])

# Выведем соответствие исходных значений и их кодированных меток
print("Соответствие исходных значений и кодов NObeyesdad:")
label_mapping = dict(zip(lab_encoder.classes_, lab_encoder.transform(lab_encoder.classes_)))
print(label_mapping)

Соответствие исходных значений и кодов NObeyesdad:
{'Insufficient_Weight': np.int64(0), 'Normal_Weight': np.int64(1), 'Obesity_Type_I': np.int64(2), 'Obesity_Type_II': np.int64(3), 'Obesity_Type_III': np.int64(4), 'Overweight_Level_I': np.int64(5), 'Overweight_Level_II': np.int64(6)}

In [747]:
df.head()

,id,Gender,Age,Height,Weight,FamilyOverweightHistory,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,0,1,24.443011,1.699998,81.669950,1,1,2.000000,2.983297,2,0,2.763573,0,0.000000,0.976473,1,3,6
1,1,0,18.000000,1.560000,57.000000,1,1,2.000000,3.000000,1,0,2.000000,0,1.000000,1.000000,2,0,1
2,2,0,18.000000,1.711460,50.165754,1,1,1.880534,1.411685,2,0,1.910378,0,0.866045,1.673584,2,3,0
3,3,0,20.952737,1.710730,131.274851,1,1,3.000000,3.000000,2,0,1.674061,0,1.467863,0.780199,1,3,4
4,4,1,31.641081,1.914186,93.798055,1,1,2.679664,1.971472,2,0,1.979848,0,1.967973,0.931721,1,3,6

In [748]:
df['Age']=df['Age'].astype(int)
df['Height']=df['Height'].astype(float).round(2)
df['Weight']=df['Weight'].astype(float).round(2)
df['FCVC']=df['FCVC'].astype(float).round(2)
df['NCP']=df['NCP'].astype(float).round(2)
df['CH2O']=df['CH2O'].astype(float).round(2)
df['FAF']=df['FAF'].astype(float).round(2)
df['TUE']=df['TUE'].astype(float).round(2)

In [749]:
df.head()

,id,Gender,Age,Height,Weight,FamilyOverweightHistory,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,0,1,24,1.70,81.67,1,1,2.00,2.98,2,0,2.76,0,0.00,0.98,1,3,6
1,1,0,18,1.56,57.00,1,1,2.00,3.00,1,0,2.00,0,1.00,1.00,2,0,1
2,2,0,18,1.71,50.17,1,1,1.88,1.41,2,0,1.91,0,0.87,1.67,2,3,0
3,3,0,20,1.71,131.27,1,1,3.00,3.00,2,0,1.67,0,1.47,0.78,1,3,4
4,4,1,31,1.91,93.80,1,1,2.68,1.97,2,0,1.98,0,1.97,0.93,1,3,6

In [750]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20758 entries, 0 to 20757
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       20758 non-null  int64
 1   Gender                   20758 non-null  int64
 2   Age                      20758 non-null  int64
 3   Height                   20758 non-null  float64
 4   Weight                   20758 non-null  float64
 5   FamilyOverweightHistory  20758 non-null  int64
 6   FAVC                     20758 non-null  int64
 7   FCVC                     20758 non-null  float64
 8   NCP                      20758 non-null  float64
 9   CAEC                     20758 non-null  int64
 10  SMOKE                    20758 non-null  int64
 11  CH2O                     20758 non-null  float64
 12  SCC                      20758 non-null  int64
 13  FAF                      20758 non-null  float64
 14  TUE                      20758 non-null  float64
 15  CALC                     20758 non-null  int64
 16  MTRANS                   20758 non-null  int64
 17  NObeyesdad               20758 non-null  int64
dtypes: float64(7), int64(11)
memory usage: 2.9 MB

1. Посмотрели данные, проверили пропуски
2. Скорректировали имя колонки
3. Закодировали категориальные данные

In [751]:
df['BMI'] = (df['Weight'] / pow(df['Height'], 2)).round(2)

def categorize(value):
    if value <= 16:
        return 'Very low'
    elif 16 < value <= 18.5:
        return 'Low'
    elif 18.5 < value <= 25:
        return 'Normal'
    elif 25 < value <= 30:
        return 'Above normal'
    elif 30 < value <= 35:
        return '1st class'
    elif 35 < value <= 40:
        return '2nd class'
    else:
        return '3rd class'

df['BMICategory'] = df['BMI'].apply(categorize)

In [752]:
df.head()

,id,Gender,Age,Height,Weight,FamilyOverweightHistory,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad,BMI,BMICategory
0,0,1,24,1.70,81.67,1,1,2.00,2.98,2,0,2.76,0,0.00,0.98,1,3,6,28.26,Above normal
1,1,0,18,1.56,57.00,1,1,2.00,3.00,1,0,2.00,0,1.00,1.00,2,0,1,23.42,Normal
2,2,0,18,1.71,50.17,1,1,1.88,1.41,2,0,1.91,0,0.87,1.67,2,3,0,17.16,Low
3,3,0,20,1.71,131.27,1,1,3.00,3.00,2,0,1.67,0,1.47,0.78,1,3,4,44.89,3rd class
4,4,1,31,1.91,93.80,1,1,2.68,1.97,2,0,1.98,0,1.97,0.93,1,3,6,25.71,Above normal

In [753]:
# Кодируем значения
lab_encoder = LabelEncoder()
df["BMICategory"] = lab_encoder.fit_transform(df["BMICategory"])

# Выведем соответствие исходных значений и их кодированных меток
print("Соответствие исходных значений и кодов BMICategory:")
label_mapping = dict(zip(lab_encoder.classes_, lab_encoder.transform(lab_encoder.classes_)))
print(label_mapping)

Соответствие исходных значений и кодов BMICategory:
{'1st class': np.int64(0), '2nd class': np.int64(1), '3rd class': np.int64(2), 'Above normal': np.int64(3), 'Low': np.int64(4), 'Normal': np.int64(5), 'Very low': np.int64(6)}

In [754]:
df.head()

,id,Gender,Age,Height,Weight,FamilyOverweightHistory,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad,BMI,BMICategory
0,0,1,24,1.70,81.67,1,1,2.00,2.98,2,0,2.76,0,0.00,0.98,1,3,6,28.26,3
1,1,0,18,1.56,57.00,1,1,2.00,3.00,1,0,2.00,0,1.00,1.00,2,0,1,23.42,5
2,2,0,18,1.71,50.17,1,1,1.88,1.41,2,0,1.91,0,0.87,1.67,2,3,0,17.16,4
3,3,0,20,1.71,131.27,1,1,3.00,3.00,2,0,1.67,0,1.47,0.78,1,3,4,44.89,2
4,4,1,31,1.91,93.80,1,1,2.68,1.97,2,0,1.98,0,1.97,0.93,1,3,6,25.71,3

In [755]:
df.to_csv("submission.csv", index=False)